@import url('https://fonts.googleapis.com/css2?family=font-Jaro&family=Oswald&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #B7D3F2;
    --secondary-color: #8A84E2;
    --accent1-color:#AFAFDC;
    --accent2-color: #79BEEE;
    
    --heading-font:'Jaro', serif;
    --paragraph-font: 'Oswald', serif;

    --nav-backgound-color:#8A84E2;
    --nav-link-color: #e63946;
    --nav-hover-link-color: #AFAFDC;
    --nav-hover-background-color: #8A84E2;

}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-backgound-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color)
    background-color: var(--nav-hover-background-color);
}