@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color:#B7D3F2 = var(--primary-color);
    --secondary-color:#8A84E2 = var(--secondary-color);
    --accent1-color:#AFAFDC = var(--accent1-color);
    --accent2-color:#79BEEE = var(--accent2-color);
    
    --heading-font:'Jaro',serif, var(--heading-font);
    --paragraph-font:'Oswald',serif, var(--paragraph-font);

    --nav-backgound-color: var(--secondary-color);
    --nav-link-color:#e63946, var(--nav-link-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color:var(--secondary-color);

}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-backgound-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}