nav{
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}

main{
    h1 {
        color: steelblue;
    }

    img {
        width: 150px;
        height: auto;
        border: 1px solid steelblue;
        padding: 2px;
        box-shadow: 0 0 30px gray;
    }

    p {
        padding: 0px;
    }
}

aside{
    width: 300px;
    margin: 10px;
    border: 3px solid;
    padding: 10px;
    background-color: blueviolet;
    color: beige;
}

aside img {
    width: 200px;
    height: auto;
}


footer {
    margin-top: 200px;
    border-top: 2px;
    text-align: center;
}